# 강의자료 코드

### 01. 변수의 이해

In [1]:
professor = "Lee"
print(professor)

Lee

In [2]:
a=7
b=5
print(a+b)

12

In [3]:
a=7
b=5
print('a+b')

a+b

In [4]:
professor = "Lee"
print(professor)

Lee

In [5]:
a=7
b=5
print(a+b)

12

In [6]:
a=7
b=5
print('a+b')

a+b

### 02. 자료형과 기본 연산

In [7]:
# 정수형
a=1
b=1
print(a,b)

1 1

In [8]:
# 실수형
a=1.5
b=3.5
print(a,b)

1.5 3.5

In [9]:
# 문자형
a='ABC'
b='101010'
print(a,b)

ABC 101010

In [10]:
#블린형
a=True
b=False
print(a,b)

True False

In [11]:
55+30

85

In [12]:
30-12

18

In [13]:
50*3

150

In [14]:
30/5

6.0

In [15]:
print(3*3*3*3*3)

243

In [16]:
print(3**5)

243

In [17]:
print(7//2)

3

In [18]:
print(7%2)

1

In [19]:
a = 1     
a = a+1  
print(a)

2

In [20]:
a+=1 
print(a)

3

In [21]:
a = a-1 
a-=1    
print(a)

1

### 03. 자료형 변환

In [22]:
# float() 함수
a= 10
print(a)

10

In [23]:
a=float(10)
print(a)

10.0

In [24]:
a=10
b=3
print(a/b)

3.3333333333333335

In [25]:
# int() 함수
a=int(10.7)
b=int(10.3)
print(a+b)

20

In [26]:
print(a)

10

In [27]:
print(b)

10

In [28]:
a='76.3'
b=float(a)
print(a)

76.3

In [29]:
print(b)

76.3

In [30]:
print(a+b)

TypeError: can only concatenate str (not "float") to str

In [31]:
a=float(a)
b=a
print(a+b)

152.6

In [32]:
# str() 함수
a = str(a)
b = str(b)
print(a+b)

76.376.3

In [33]:
# type() 함수
a = int(10.3)
b = float(10.3)
c = str(10.3)

type(a)

int

In [34]:
type(b)

float

In [35]:
type(c)

str

### 02. 화면 입출력

In [36]:
# input() 함수
print("Enter your name:")
somebody = input()
print("Hi", somebody, "How are you today?")

Enter your name:
han
Hi han How are you today?

In [37]:
# print() 함수
print("Hello World", "Hello Again!!!")

Hello World Hello Again!!!

In [38]:
temperature = float(input("온도를 입력하세요: "))
print(temperature)

온도를 입력하세요: 103
103.0

### 04. 리스트의 이해

In [39]:
# 인덱싱
colors = ['red', 'blue', 'green']
print(colors[0])
print(colors[2])
print(len(colors))

red
green
3

In [40]:
# 슬라이싱
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [41]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '광주']

In [42]:
cities[0:5]

['서울', '부산', '인천', '대구', '대전']

In [43]:
cities[5:]

['광주', '울산', '수원']

In [44]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[-8:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [45]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [46]:
print(cities[-50:50])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [47]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[::2])

['서울', '인천', '대전', '울산']

In [48]:
print(cities[::-1])

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [49]:
# 리스트의 연산
color1 = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color1+color2)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [50]:
len(color1)

3

In [51]:
total_color = color1 + color2
total_color

['red', 'blue', 'green', 'orange', 'black', 'white']

In [52]:
color1 * 2

['red', 'blue', 'green', 'red', 'blue', 'green']

In [53]:
'blue' in color2

False

In [54]:
# 리스트 추가 및 삭제
color = ['red', 'blue', 'green']
color.append('white')
color

['red', 'blue', 'green', 'white']

In [55]:
color = ['red', 'blue', 'green']
color.extend(['black', 'purple'])
color

['red', 'blue', 'green', 'black', 'purple']

In [56]:
color = ['red', 'blue', 'green']
color.insert(0, 'orange')
color

['orange', 'red', 'blue', 'green']

In [57]:
color = ['orange','red', 'blue', 'green']
color.remove('red')
color

['orange', 'blue', 'green']

In [58]:
color = ['red', 'blue', 'green']
color[0] = 'orange'
color

['orange', 'blue', 'green']

In [59]:
del color[0]
color

['blue', 'green']

In [60]:
# 패킹과 언패킹
t=[1,2,3]
a, b, c = t
print(t,a,b,c)

[1, 2, 3] 1 2 3

In [61]:
t=[1,2,3]
a,b,c,d,e, = t

ValueError: not enough values to unpack (expected 5, got 3)

In [62]:
a, b = t

ValueError: too many values to unpack (expected 2)

In [63]:
# 이차원 리스트
kor_score = [49, 79, 20, 100, 90]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
midterm_score

[[49, 79, 20, 100, 90], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [64]:
print(midterm_score[0][2])

20

# Lab : 화씨온도 변환기

In [65]:
# 화씨온도 = (섭씨온도*1.8) + 32
c_temperature = input('본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.\n변환하고 싶은 섭씨온도를 입력하세요.\n')
f_temperature = (float(c_temperature)*1.8) + 32
print("섭씨온도:",c_temperature)
print("화씨온도:",round(f_temperature,2))

본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.
변환하고 싶은 섭씨온도를 입력하세요.
32.2
섭씨온도: 32.2
화씨온도: 89.96